/* CONTACT */
#contact header h1 {
  background-color: #1aa08d;
  margin-top: 0px;
  padding: 20px;
  padding-left: 150px;
  color: white; }

#contact .thumbnail {
  margin-bottom: 50px; }

#contact .home-menu-bar {
  margin-bottom: 0px; }
  #contact .home-menu-bar .container .navbar-header a.site-title,
  #contact .home-menu-bar .container .navbar-header a.site-title:link,
  #contact .home-menu-bar .container .navbar-header a.site-title:hover,
  #contact .home-menu-bar .container .navbar-header a.site-title:active,
  #contact .home-menu-bar .container .navbar-header a.site-title:visited {
    color: #1aa08d; }

#contact .contac-content-form {
  margin-top: 20px; }

#contact .container, #contact .captation, #contact .contact-p {
  overflow-wrap: break-word; }

@media (max-width: 500px) {
  #contact .contact-us {
    padding-left: 20px; } }
